src/ODE_tseries.png
malaria_model/plots
malaria_model/ode-solver-simulation/src/__pycache__
.qodo
/home/lunaditraverso45/malaria_model/.venv
/home/lunaditraverso45/malaria_model/ode-solver-simulation/src/__pycache__